rect {
  width: 70;
  height: 70;
  stroke: black;
  stroke-width: 1;
}
.empty {
  fill: #D6882F;
}
.attacker {
  fill: #333;
}
.attacker:hover {
   cursor: pointer;
}
.defender {
   fill: #fff;
}
.king {
   fill: #00f;
}
.columns {
/*  padding: 0;*/
}
.attacker-select {
   fill: #666;
}

.red {
  fill: #f00;
}
.darkblue {
  fill: #008;
}
.darkred {
  fill: #800;
}
.lightblue {
  fill: #88f;
}
.lightred {
  fill: #f88;
}
