.mdl-layout__drawer-button > i.material-icons {
   margin-top: 10px;
}
/*body {
   margin: 0;
   line-height: 0;
}*/

.row {
   width: 100%;
   font-size: 0;
   white-space: nowrap;
}


.row > div {
   width: calc(4vw - 4px);
   height: calc(4vw - 4px);
   display: inline-block;
   padding: 2px;
}
#board {
   width: 36vw;
   margin: 20px auto;
}
@media screen and (max-width:1024px) {
   .row > div {
      width: calc(8vw - 4px);
      height: calc(8vw - 4px);
   }
   #board {
      width: 72vw;
   }
}
@media screen and (max-width:480px) {
   .row > div {
      width: calc(11.111111111111vw - 4px);
      height: calc(11.111111111111vw - 4px);
   }
   #board {
      width: 100vw;
   }
}

.hidden {
   display: none;
}

.row > div > div {
   height: 100%;
   width: 100%;
   border-radius: 2px;
}


.attacker {
   background-color: rgba(75, 68, 167, 0.7);
}
.attacker-select {
   background-color: rgba(60, 58, 140, 0.7);
   box-shadow:
      0 6px 10px 0 rgba(0,0,0,.14),
      0 1px 18px 0 rgba(0,0,0,.12),
      0 3px 5px -1px rgba(0,0,0,.2);
}
.defender {
   background-color: rgba(121,85,72,0.8);
   cursor: pointer;
}

.king {
   background-color: rgba(16, 15, 14, 0.8);
   cursor: pointer;
}

.empty {
   background-color: rgba(121,85,72,0.2);
}
