.mdl-layout__drawer-button > i.material-icons {
   margin-top: 10px;
}

.row {
   width: 100%;
   font-size: 0;
   white-space: nowrap;
}

a {
   color: blue;
}

#loader {
   display:    none;
 position:   fixed;
 z-index:    1000;
 top:        0;
 left:       0;
 height:     100%;
 width:      100%;
 background: rgba( 255, 255, 255, .2 )
             url('https://i.stack.imgur.com/FhHRx.gif')
             50% 50%
             no-repeat;
 overflow: hidden;
}

#loader.loading {
   display: block;
}



.row > div {
   width: calc(4vw - 4px);
   height: calc(4vw - 4px);
   display: inline-block;
   padding: 2px;
}
#board {
   width: 36vw;
   margin: 20px auto;
}
@media screen and (max-width:1024px) {
   .row > div {
      width: calc(8vw - 4px);
      height: calc(8vw - 4px);
   }
   #board {
      width: 72vw;
   }
}
@media screen and (max-width:480px) {
   .row > div {
      width: calc(11.111111111111vw - 4px);
      height: calc(11.111111111111vw - 4px);
   }
   #board {
      width: 100vw;
   }
}

.hidden {
   display: none;
}

.row > div > div {
   height: 100%;
   width: 100%;
   border-radius: 2px;
}

.attacker-header {
   background-color: rgb(75, 68, 167);
}

.defender-header {
   background-color: rgb(121,85,72);
}

.attacker {
   background-color: rgba(75, 68, 167, 0.7);
   cursor: pointer;
}
.attacker-select {
   background-color: rgba(60, 58, 140, 0.7);
   cursor: pointer;
   box-shadow:
      0 6px 10px 0 rgba(0,0,0,.14),
      0 1px 18px 0 rgba(0,0,0,.12),
      0 3px 5px -1px rgba(0,0,0,.2);
}
.defender {
   background-color: rgba(121,85,72,0.8);

}

.king {
   background-color: rgba(16, 15, 14, 0.8);
   cursor: pointer;
}

.empty {
   background-color: rgba(121,85,72,0.2);
}

#new_game {
   font-size: x-small;
   float: right;
   cursor: pointer;
}

#board_header {
   font-size: 20px;
   border-radius: 2px;
   padding: 10px;
   color: white;
   font-weight: bold;
}

.mdl-dialog {
   width: 400px;
}
